@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP:wght@900&display=swap');
*
{
    box-sizing: border-box;
}
body
{
    background-color: #D1D1C2;
    margin: 0px;
}

.navFixed 
{          
    top: 0;
    left: 0;
    position: fixed;   
    z-index: 100;
    margin-top: 0;
    padding: 1%;
    color: wheat;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    min-width: 100%;
    opacity: 0.94;
    transition: opacity .5s ease-out; 
}
.navFixed h1 a
{
  color: wheat;
  text-decoration: none;
}

.wrap
{
 max-width: 960px;
 margin:20px auto 0 auto;
 height: auto;
}
.search
{
    position: relative;
    width: 80%;
    float: left; 
}
.search-bar
{
    width: 30%;
    height: 26px;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    top: -55px;
    left: 415px;
    border: 3px solid 	#7B7B7B;
    background-color: #efe9e7;
}
.search-btn
{
    width: 35px;
    height: 26.1px;
    background-color: 	#7B7B7B;
    border-radius: 5px;
    color:#efe9e7;
    outline:none;
    border: 2px solid 	#7B7B7B;
    cursor: pointer; 
    position: absolute;
    top: -55px;
    right: 100px; 
}
.search-btn img
{
    width: 20px;
    height: auto;
    
}
nav
{
    position: absolute;
    left: 65%;
    top: 35%;
    background-color: #000000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.drop-down-menu {
    
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
  }
  
  ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  ul.drop-down-menu>li:last-child {
    border-right: none;
  }
  
  ul.drop-down-menu>li {
    float: left;
    /* 只有第一層是靠左對齊*/
  }
  
  ul.drop-down-menu a 
  {
    color: wheat;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
  }
  .dropdown
  {
    border-radius: 10px;
    background-color: black;
  }
  ul.drop-down-menu a:hover 
  {
    /* 滑鼠滑入按鈕變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
  }
  
  ul.drop-down-menu li:hover>a 
  {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
  }
  
  ul.drop-down-menu ul 
  {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
  }
  
  ul.drop-down-menu ul li 
  {
    border-bottom: #ccc 1px solid;
  }
  
  ul.drop-down-menu ul li:last-child 
  {
    border-bottom: none;
  }
  
  ul.drop-down-menu ul 
  {
    /*隱藏次選單*/
    left: 99999px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  
  ul.drop-down-menu li:hover>ul 
  {
    /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    left: -1px;
    border-right: 5px;
  }


ul.drop-down-menu ul li:hover > ul 
{ 
    /* 第二層之後的選單展開位置*/
    left: 90%;
}

.blank
{
    background-color: white;
    height: 117px;
}
.marquee
{
height: 660px;
width: auto;

display: flex;
overflow: hidden;
}
.marimage
{
    width: 900px;
    height: auto;
    z-index: -1;
    object-fit: cover;
    transform: translateX(0);
    animation: mar 30S linear infinite;
}
@keyframes mar
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-800%);
    }
} 
.text
{
    position: absolute;
    overflow: hidden;
    color: #D1D1C2;
    font-size: 200px;
    font-family: 'Permanent Marker', cursive;
    animation: .5s swift-up ease-in-out forwards;
    flex-direction: column;
    display: flex;
    z-index: 1;
    top: 0rem;
    margin: 9.5%;
    
}
@keyframes swift-up
{
    to{
            top:-15rem;
    }
}
.button a
{
    text-decoration: none;
    color: #D1D1C2;
    position: absolute;
    overflow: hidden;

    left: 45rem;
    top: 35rem;
    text-align: center;
    background-color: rgb(32, 61, 122);
    padding: 20px;
    z-index: 2;
    font-size: 20px;
    border-radius: 50px;
    width: 100px;
    font-family: 'Fredoka One', cursive;
}
.blank1
{
height: 100px;

}
#container {
    position: relative;
    width: 900px;
    height: 500px;
    border: 3px solid #333;
    margin: 115px auto;
    overflow: hidden;
}

#list {
    position: absolute;
    z-index: 1;
    width: 5400px;
    height: 500px;
}

#list img {
    float: left;
    width: 900px;
    height: 500px;
}

.arrow {
    position: absolute;
    top: 230px;
    z-index: 2;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: RGBA(0, 0, 0, .3);
    cursor: pointer;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev 
{
  left: 833px;
}

#next {
    right: 833px;
}

/*.featured
{
  height: 660px;
}*/
.shadow 
{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 50px;
  text-align: center;
  color: 							#8080C0;
  text-shadow: 0.1em 0.1em 0.2em black
}
.featurpic  img
{
  width: 50px;
  height: auto;
  
}
.featuredpic
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
}
.featuredpic img
{
  width: 250px;
  height: auto;
  border-radius: 10px;
  /*margin: 5px;*/
}
.info
{
  position: absolute;
  width: 250px;
  height: 250px;
  top: 5px;
  color: rgb(250, 250, 250);
  background: rgba(128,128,128,0.8);
  text-align: center;
  transform: scaleY(0);
  transition: transform .5s;
  border-radius: 10px;
}
.buy
{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 102px;
  left: 50px;
  border: 2px solid #fff;
  font-size: 15px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 150px;
  height: 46px;
	/*opacity: 0;*/
	transition: all 200ms ease-out;
}
.buy:hover
{
  border-radius: 10px;
  background: white;
  color: rgb(128,128,128);
  cursor: pointer;
}
.nk
{
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  text-align: center;
  margin: 10px;
  padding: 5px;
  transition: 0.5s;
}
.nk:hover .info
{
  transform: scaleY(1);
}
.nkword
{
  font-size: 15px;
  font-family: 'Lobster', cursive;
  text-align: center;
}
.nk:hover
{
	transition: all 0.8s ease-out;
    animation: swing  0.5s 3;
}
@keyframes swing 
{
    15% {
        transform: translateX(5px);
    }

    40% {
        transform: translateX(-5px);
    }

    65% {
        transform: translateX(2px);
    }

    85% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}
.hot
{
background-image: url("../images/Aimyon3.png");
background-size: 100% 100%;
background-attachment: fixed;
background-repeat: no-repeat;
height: 700px;
margin: 0 auto;
}
.hotword
{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 70px;
  text-align: center;
  color: 				#BB3D00;
  text-shadow: 0.1em 0.1em 0.2em black
}
.medelicon
{
  position: absolute;
  width: 150px;
  top: 280px;
}
.medel
{
  align-items: center;
  justify-content: center;
  display: flex;
}
.medelstyle
{
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}
.medelmain 
{

  background-color: black;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  margin: 30px;
  
}
.infobox
{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 30px;
  color: rgb(250, 250, 250);
  background: rgba(128,128,128,0.8);
  text-align: center;
  transform: scaleY(0); 
  transition: transform .5s;
  border-radius: 10px;
}
.medelstyle:hover .infobox
{
  transform: scaleY(1);
}
.medelstyle:hover
{
  transform: scale(1.2);
}
.buy_detail
{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 122px;
  left: 50px;
  border: 2px solid #fff;
	color: #fff;
	text-align: center;
  font-size: 20px;
	padding: 10px 0;
	width: 200px;
  height: 56px;
	/*opacity: 0;*/
	transition: all 200ms ease-out;
}
.buy_detail:hover
{
  border-radius: 10px;
  background: white;
  color: rgb(128,128,128);
  cursor: pointer;
}


footer
{
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 10px;
}



@media only screen and (max-width:450px) {

  [class*="col-"] {
    width: 100%;
  }
  
  
  header{
    width: 100%;
  }

  .search{
    width: 80%;
    margin-left: -10%;
  }

  #container{
    width: 230%;
    margin-left: 80%;
  }

  .drop-down-menu{
    width: 120%;
    margin-left: -10%;
  }

  .marquee{
    width: 400%;
  }

  .text{
    margin-top: 55%;
    margin-left: 35%;
  }

  .featurpic{
    width: 400%;
  }

  .featuredpic{
    width: 40%;
    margin-left: 180%;
  }

  .hot{
    width: 400%;
  }

  footer{
    width: 400%;
  }

}